@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Silkscreen&family=Space+Grotesk:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: sans-serif;
    font-size: 100%;
    font-size: 16px;
    line-height: 1.5;
    background-color: #22447b;
    -webkit-font-smoothing: antialiased;
    -mos-osx-font-smoothing: grayscale;
}

.header img:first-child {
    box-shadow: 0 10px 20px black;
    width: 100%;
}

.header .BO-Articles {
    position: absolute;
    height: 100px;
    top: 280px;
    left: 100px;
}

.site-container {
    margin: 2rem auto;
    margin-top: -100px;
    max-width: calc(100% - 80px);
}

.article-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 2rem;
}

.article-image {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.article-image img {
    max-width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}

.article-card {
    background: white;
    border-radius: 20px;
    transition: 0.3s;
    border: solid #34ffff;
    border-radius: 20px;
}

.article-card:hover {
    box-shadow: 0 5px 30px 0 black;
    cursor: pointer;
}

.article-content {
    padding: 2rem;
}

.article-content .card-category {
    font-size: 20px;
    font-family: 'Silkscreen', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    color: #252d3a;
    display: block;
    text-decoration: none;
    transition: 0.4s;
}

.article-content .card-category:hover {
    font-size: 30px;
    color: #25c4c4;
}

.article-content .card-title {
    margin: 1rem 0;
    font-family: 'Space Grotesk', sans-serif;
    color: #22447b;
}

.article-content .card-excerpt {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #6b82a7;
    margin: 0px;
}

@media screen and (min-width: 768px) {
    .site-container {
        max-width: 608px;
    }
    .article-card {
        display: grid;
        grid-template-rows: 220px 1fr;
    }
}

@media screen and (min-width: 1280px) {
    .site-container {
        max-width: 1156px;
    }
}